[package]
name = "keyvalue"
version.workspace = true
edition.workspace = true

[lib]
path = "src/lib.rs"

[dependencies]
async-trait.workspace = true
bytes.workspace = true
common.workspace = true
tokio.workspace = true
